body {
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 0px;
    background-color: #1F2937;
    max-width: 550px;
    height: 729px;
    left: 696px;
    top: 126px;
}
#upper-part{
    
    /*position: absolute;*/
    width: 550px;
    height: 285px;
    left: 0px;
    top: 0px;
    background-color: #6943FF;
    margin: 0;
}

h2{
    position: absolute;
    width: 448.4px;
    height: 38px;
    left: 51px;
    top: 33px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    /* identical to box height, or 136% */

    text-align: center;
    letter-spacing: -0.03em;

    color: #FFFFFF;
}

#input{
    box-sizing: border-box;
    /*position: absolute;*/
    width: 117px;
    height: 83px;
    left: 217px;
    top: 101px;
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    color: #FFFFFF;
}
#input text{
    color: #FFFFFF;
}
input {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    /*line-height: 24px;*/
    /* or 42% */
    text-align: center;
    color: #FFFFFF;
}

#convert-btn{
    position: absolute;
    width: 117px;
    height: 42px;
    left: 217px;
    top: 209px;
    background: #FFFFFF;
    /* shadow/sm */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: none;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3D3D3D;
}

.section{
    background-color: #273549;
    position: absolute;
    width: 500px;
    height: 108.57px;
    left: 25px;
    top: 321px;
}

.section  h3{
    position: absolute;
    width: 346px;
    height: 25px;
    left: 77px;
    top: 31px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #CCC1FF;
}

.section p{
    position: absolute;
    width: 346px;
    height: 25px;
    left: 77px;
    top: 65px;

    /* text-sm/leading-5/font-normal */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: center;

    color: #FFFFFF;
}
#volume {
    left: 25px;
top: 453px;
}
#mass {
    left: 25px;
    top: 585px;
    margin-bottom: 20px;
}